{% extends 'skeleton/base.html' %}
    
{% block content %}
<header class="masthead-connexion">
    <div class="container">
        <h2 class="text-center mt-0 text-white">Il me semble te connaître ...</h2>
        <p class="text-center mt-0 text-white">Comment tu tappelles ?</p>
        {% for message in messages%}
        <p class="text-center mt-0 text-white" id="id_feed_back_connexion">{{message}}</p>
        {% endfor%}
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <form class="opac-white-background" action="" method="POST">
                    {% csrf_token %}
                    <div class="form-row pt-5">
                        <div class="col-lg-3 text-center">Pseudo</div >     
                        <div class="col-lg-9 text-center">{{ us_form.username}}</div >      
                    </div>
                    <div class="form-row pt-5">
                        <div class="col-lg-3 text-center">Mot de passe </div >
                        <div class="col-lg-9 text-center">{{us_form.password}}</div >
                    </div>
                    <div class="row mt-5">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8 text-center">
                            <input type="submit" id="id_submit" class="btn btn-primary big-btn" value="Se connecter">
                        </div>
                        <div class="col-lg-2"></div>
                        <!-- nouvelle ligne -->
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8 text-center">
                            {% if error %}
                            <p><strong>Utilisateur inconnu ou mauvais de mot de passe.</strong></p>
                            {% endif %}
                            <p class="mini-legend">Je n'ai pas encore de compte : <a class="text-bold "href="{% url 'user:register' %}">M'inscrire</a>
                            </p>
                        </div>
                        <div class="col-lg-2"></div>
                </form>
            </div>
            <div class="col-lg-3"></div>

        </div>
    </div>
</header>
<script>

        //Query All input fields
        var form_fields = document.getElementsByTagName('input')
        form_fields[1].placeholder='Pseudo...';
        form_fields[2].placeholder='Mot de passe...';

</script>
{% endblock %}