{% extends 'user/base.html' %}
    
{% block content %}
<header class="masthead-connexion">
    <div class="container">
        <h2 class="text-center mt-0 text-white">Il me semble te connaître </h2>
        {% for message in messages%}
            <p class="text-white">{{message}}</p>
        {% endfor%}
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <form class="white-bg" action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group row">
                        <div class="col-lg-6">{{ form.username.label}}</div>
                        <div class="col-lg-6">{{ form.username}}</div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-6">{{ form.password.label}}</div>
                        <div class="col-lg-6">{{ form.password}}</div>
                    </div>
                    <div class=" row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                            <button type="submit" class="btn btn-primary big-btn">Se connecter</button> 
                            {% if error %}
                                <p><strong>Utilisateur inconnu ou mauvais de mot de passe.</strong></p>
                            {% endif %}
                            <p>Je n'ai pas encore de compte : <a href="{% url 'user:register' %}">S'inscrire</a>
                            </p>
                        </div>
                        <div class="col-lg-2"></div>
                        {% if errors%}
                            <p>il y a une erreur !</p>
                        {% endif%}
                    </div>
                </form>
            </div>
            <div class="col-lg-3"></div>

        </div>
    </div>
</header>
<script>

        //Query All input fields
        var form_fields = document.getElementsByTagName('input')
        form_fields[1].placeholder='Pseudo...';
        form_fields[2].placeholder='Mot de passe...';

</script>
{% endblock %}