{% extends 'skeleton/base.html' %}

{% block content %}
<header class="masthead-register">
	<div class="container">
		<h2 class="text-center mt-0 text-white">Maintenant tu vas me dire qui tu es ... </h2>
		{% for message in messages%}
			<p id="text-white">{{message}}</p>
		{% endfor%}
		<div class="row">
			<div class="col-lg-3"></div>
			<div class="col-lg-6">
				<form class="white-bg" action="" method='POST'>
					{% csrf_token %}
					<div class="form-group">
						<p>{{ form.username.label}}</p>		
						<p>{{ form.username}}</p>		
					</div>
					<div class="form-group">
						<p>{{ form.password.label}}</p>
						<p>{{ form.password}}</p>
					</div>
					<input type="submit" class="btn btn-primary" value="Se créer une compte">
				</form>
				{{form.errors}}
				<p>J'ai déjà un compte : <a href="{% url 'user:connection' %}">Se connecter</a></p>

			</div>
			<div class="col-lg-3"></div>

		</div>
	</div>
</header>
<script>

		//Query All input fields
		var form_fields = document.getElementsByTagName('input')
		form_fields[1].placeholder='Pseudo...';
		form_fields[2].placeholder='Mot de passe...';

</script>
{% endblock %}