{% extends 'skeleton/base.html' %}
{% block content %}
{% load static %}
<header class="masthead-legalNotice">
	<div class="container">
		<h2 class="text-center text-white ">Les bons trucs à savoir</h1>
			<hr class="divider light my-4">
		</div>
	</header>
	<section class="page-section section1" id="services">
		<div class="row">
			<div class="col-lg-1"></div>
			<div class="col-lg-10 text-center">
				<div class="row">
					<div class="col-lg-5 align-center">
						<button type="submit" class="btn btn-primary btn-sm "><span class="glyphicon glyphicon-eye-open"></span>Pur Beurre / OpenClassrooms</button>
					</div>
					<div class="col-lg-5 pull-left">
						<p class="legalfont text-center">Pur Beurre est un projet qui s'inscrit dans le cadre du parcours de développeur d'application python d'OpenClassrooms.</p>
						<p class="legalfont text-center">OpenClassrooms est une école en ligne qui propose à ses membres des cours certifiants et des parcours débouchant sur un métier d'avenir, réalisés en interne, par des écoles, des universités, ou encore par des entreprises partenaires comme Microsoft ou IBM.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-1"></div>
		</div>
	</section>
	<section class="page-section section2" id="services">
		<div class="row">
			<div class="col-lg-1"></div>
			<div class="col-lg-10 text-center">
				<div class="row">
					<div class="col-lg-5">
						<p class="legalfont text-center">Cette application web utilise des images téléchargées sur le site de <a href="https://thenounproject.com">the Noun Project</a>.</p>
						<p class="legalfont text-center"><strong>Wikipédia :</strong> <span class="citation">The Noun Project est un site web lancé en 2010, collectant et cataloguant des symboles basés sur la communication visuelle auquel participent des graphistes de plusieurs pays. Il fonctionne comme une bibliothèque d'images à la disposition des personnes cherchant des symboles graphiques.</span></p>
						<p class="legalfont text-center"><strong>Crédits :</strong> <span class="citation">Carrot</span> by Fabien Jouin,<br>
							<span class="citation">Account</span> by Pharm Thi Linh, <br>
							<span class="citation">Disconnect</span> by Tomas Knopp</p>
						<p class="legalfont text-center">Photo de la page d'accueil by Olenka Kotyk <a href="https://unsplash.com/photos/eqsEZNCm4-c">on Unsplash</a></p>
					</div>
					<div class="col-lg-5 align-center">
						<button type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-eye-open"></span>Droits d'auteur</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="page-section section3" id="services">
		<div class="row">
			<div class="col-lg-1"></div>
			<div class="col-lg-10 text-center">
				<div class="row">
					<div class="col-lg-5 align-center">
						<button type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-eye-open"></span>Hébergement</button>
					</div>
					<div class="col-lg-5 pull-left">
						<p class="legalfont text-center">Pur Beurre est hébergé par <a href="https://heroku.com">Heroku</a>.</p>
						<p class="legalfont text-center">Heroku est un service de cloud computing de type plate-forme en tant que service.</p>
						<p class="text-center"> Numéro de téléphone : 1-800-667-6389 </p>
						<p class="text-center"> Salesforce,<br/> 50 Fremont St. <br/> 
							Suite 300<br/>San Francisco, CA<br/>94105</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		{% endblock %}

