{% extends "skeleton/base.html" %}

{% block content %}

<header class="masthead-ripening">
    <div class="container">
        <h2 class="text-center mt-0 text-white">Recherche avancée </h2>
        <p class="text-center mt-0 text-white">on affine que tes recherches</p>
        {% for message in messages%}
        <p id="text-white">{{message}}</p>
        {% endfor%}
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <form class="opac_white_background" action="" method='POST'>
                    {% csrf_token %}
                    <div class="form-row padding-top-2">
                        <div class="col-lg-3 text-center">Nom</div >     
                        <div class="col-lg-9 text-center">{{ form.name}}</div >      
                    </div>
                    <div class="form-row padding-top-2">
                        <div class="col-lg-3 text-center">Catégorie </div >
                        <div class="col-lg-9 text-center">{{ form.category}}</div >
                    </div>
                    <div class="form-row padding-top-2">
                        <div class="col-lg-3 text-center">Nutriscore </div >
                        <div class="col-lg-9 text-center">{{ form.nutriscore}}</div >
                    </div>
                    <div class="form-row padding-top-2">
                        <div class="col-lg-4 text-center">Conditionnement </div >
                        <div class="col-lg-8 ">{{ form.packaging}}</div >
                    </div>
                    <div class="right-input">
                        <input type="submit" class="btn btn-primary" value="Lancer la recherche">
                    </div>
                </form>
                {{form.errors}}
            </div>
            <div class="col-lg-3"></div>

        </div>
    </div>
</header>
{% endblock%}