/*This css exists to adapt my boostrap theme to customers'desires */
<<<<<<< HEAD
h1, h2, h3, h4{
=======
html{
>>>>>>> us2
	font-family: "Open Sans", sans-serif;
}
p{
	font-family: "Scope One", sans-serif;
}
#mainNav {
	box-shadow: none;
	opacity: 0.6;
}
	.img-fluid-logo {
		width : 75px;
		height: auto;
opacity : 1;
	}
	.navbar-nav .nav-item .nav-link{
		color : white;
	}
#colette{
	width: 100px;
	height: auto;
}
#remi{
	width: 289px;
	height: auto;
}

footer{
<<<<<<< HEAD
	background-color: #345a61 !important; 
=======
	background-color: #de9440 !important; 
>>>>>>> us2
}

.mastheadfc{ /*according to clients desires*/	
	background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../img/fond.jpg");
	padding-top: 10rem;
	padding-bottom: calc(10rem - 72px);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
<<<<<<< HEAD
=======
}

.contact-us{
 	background-color: #86ebe6; 
 	color : #345a61;

 }
 .contact-us a{
	color : #345a61;
 }
 .contact-us a:hover{
	font-weight: bold; 
 }
footer a{
	color: white;
	font-weight : bold;
 }

footer a:hover{
	color : #86ebe6;
>>>>>>> us2
}